:root {
    --primary-color: #000;
    --secondary-color: #006C98;
    --hover-color: #005e87ee;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

section {
    scroll-margin-top: 110px;
}

/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

header.scrolled {
    background-color: var(--primary-color);
    padding: 10px 0;
}

.mobile-menu-btn {
    background: none;
    border: none;
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.mobile-menu-btn.hidden {
    display: none;
}

.main-nav {
    display: flex;
}

.main-nav.active {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    gap: 2rem;
}

.main-nav a {
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.main-nav a:hover {
    text-decoration: underline;
}

.nav-btn {
    background-color: var(--secondary-color);
    color: var(--white) !important;
    padding: 8px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease !important;
}

.nav-btn:hover {
    background-color: var(--hover-color);
    border-color: var(--white) !important;
}


/* Responsive Design */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-menu-btn {
        display: block;

    }

    .main-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 15px;

    }

    .main-nav.active {
        display: flex;
    }

    .main-nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    .main-nav a {
        font-size: 1.5rem;
    }
}

/* Banner Area */
.banner-area {
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
}

.banner-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/worship.jpg') no-repeat center center/cover;
    z-index: -1;
}

.banner-img::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-content {
    position: relative;
    z-index: 1;
}

.banner-area h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.banner-area h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.banner-area span {
    color: var(--secondary-color);
}

.instagram-link {
    color: #E1306C;
    /* Cor do Instagram */
}

.whatsapp-link {
    color: #25D366;
    /* Cor do WhatsApp */
}

.email-link {
    color: #D44638;
    /* Cor do Email */
}

.custom-btn {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white);
}

.custom-btn:hover {
    background-color: var(--hover-color);
    border-color: var(--white);
}


/* About Area */
.about-area {
    padding: 80px 0;
    background-color: #f8f9fa;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.section-title span {
    color: var(--secondary-color);
}

.about-left {
    background: url('images/img-bispos.png') no-repeat center center/cover;
    border-radius: 10px 65px;
    min-height: 400px;
}

.about-right {
    padding: 30px;
}



/*pano de leitura*/
.bible-reading-section {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
     scroll-margin-top: 80px;
    padding-top: 100px;
    margin-top: -50px;
    padding-bottom: 50px;
}

.bible-reading-card {
    max-width: 600px;
    margin: 15px auto;
    padding-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.bible-reading-card:hover {
    transform: scale(1.02);
}

.saiba-mais-btn {
    margin-top: 15px;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white);
}

.saiba-mais-btn:hover {
    background-color: var(--hover-color);
    border-color: var(--white);
}


/* Message Area */
.msg-area {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 60px 0;
}

.msg-content {
    max-width: 800px;
    margin: 0 auto;
}

.msg-content h2 {
    margin-bottom: 20px;
}

/* Services Area */
.services-area {
    padding: 80px 0;
    background-color: #fff;
}

.service-item {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.service-item:hover {
    transform: translateY(-5px);
}

.service-item img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.service-item h4 {
    padding: 20px;
    margin: 0;
    color: var (--primary-color);
}

.service-text {
    padding: 20px;
}

/* Contact Area */
.contact-area {
    padding: 80px 0;
    background-color: #f8f9fa;
}

.contact-content i {
    font-size: 2.5rem;
    color: var(--secondary-color);
    margin-bottom: 15px;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--white);
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header h2 {
        margin-bottom: 15px;
    }

    .mobile-menu-btn {
        display: block;
    }

    .main-nav {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .main-nav.active {
        display: flex;
    }

    .main-nav ul {
        flex-direction: column;
        gap: 1rem;
    }

    .main-nav a {
        font-size: 1.5rem;
    }

    .banner-area h1 {
        font-size: 2rem;
    }
}